<html lang="es">
<head>
  <title>Servicio de streaming</title>
</head>
<body>

  <header>
    <h1 class="display-4">Servicio de streaming</h1>
  </header>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a type="button" class="btn btn-primary btn-lg" (click)="register()">Registrarse</a>
        </div>
        <div class="col-md-6">
          <a type="button" class="btn btn-success btn-lg" (click)="login()">Iniciar sesión</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a type="button" class="btn btn-danger btn-sm float-right" (click)="loginAdmin()">Entrar como administrador</a>
        </div>
      </div>
    </div>

</body>
</html>