<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Elegir plan</h1>
        <p>Elige el plan que mejor se adapte a tus necesidades.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-secondary btn-lg" (click)="elegirPlan(1)">
          <h4>Plan básico</h4>
          <p>Precio: $9.99/mes</p>
          <p>Detalles:</p>
          <ul>
            <li>Creación de hasta 2 perfiles</li>
          </ul>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-info btn-lg"(click)="elegirPlan(2)">
          <h4>Plan intermedio</h4>
          <p>Precio: $19.99/mes</p>
          <p>Detalles:</p>
          <ul>
            <li>Creacion de hasta 3 perfiles</li>
          </ul>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-lg" (click)="elegirPlan(3)">
          <h4>Plan avanzado</h4>
          <p>Precio: $29.99/mes</p>
          <p>Detalles:</p>
          <ul>
            <li>Creacion de hasta 5 perfiles</li>
            <li>Catalogo de series cartoon disponible</li>
          </ul>
        </button>
      </div>
    </div>
    
  </div>